.hello {
  color: white;
  h1 {
    color: white;
  }
  span {
    color: #42b983;
  }
}

#body {
  padding: 50px 0;
  ::placeholder {
    color: #d8d8d8;
  }
}

#footer {
  a {
    color: blue;
  }
}