@keyframes fadeIn {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes slideInTop {
  from { opacity: 0; transform: translate3d(0, 100%, 0); }
  to { opacity: 1; transform: translate3d(0, 0, 0);}
}
@keyframes slideInBottom {
  0% { opacity: 0; transform: translate3d(0, -100%, 0); }
  //25% { opacity: 0; transform: translate3d(100%, 0, 0); }
  //50% { opacity: 0.5; transform: translate3d(50%, 0, 0); }
  100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

.download-container {
  width: 100%;
  background: url("../img/img-download-wallpaper.jpg");
  background-size: cover;
}
.download {
  font-family: 'Open Sans', 'sans-serif';
  padding-top: 75px;
  padding-bottom: 63px;
  color: white;
  text-align: center;
  .title {
    font-family: 'Raleway', 'sans-serif';
    animation: slideInTop 3s ease;
  }
  .divider {
    width: 67px;
    height: 3px;
    margin: 30px auto;
    background: white;
  }
  p {
    opacity: 0.7;
    padding-bottom: 36px;
    animation: slideInBottom 3s ease;
  }
  .btn-download {
    width: 135px;
    margin: auto;
    text-align: center;
    border: 3px solid white;
    border-radius: 1px;
    a {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
    }
    a:hover {
      background: #40454b;
    }
    a:active {
      transform: translateY(0.3px);
    }
    animation: fadeIn 4s linear;
  }
}