.pricing-container {
  width: 100%;
  background: #f5f5f5;
}
.pricing {
  padding-top: 100px;
  padding-bottom: 90px;
  .pricing__text {
    text-align: center;
    .title {
      font-family: 'Raleway', 'sans-serif';
      font-size: 40px;
      opacity: 1;
    }
    .divider {
      width: 65px;
      height: 3px;
      margin-top: 27px;
      margin-bottom: 30px;
      margin-left: 520px;
      background: #ff8b38;
    }
    p {
      font-family: 'Open Sans', 'sans-serif';
      opacity: 0.7;
    }
  }

  .pricing__select {
    font-family: 'Open Sans', 'sans-serif';
    padding-top: 80px;
    .select__list {
      display: flex;
      justify-content: space-between;
      #li__1, #li__3 {
        padding-top: 40px;
        .listitem__head {
          border-bottom: 5px solid #ff8b38;
        }
      }
      #li__2 {
        //border-bottom: none;
      }
      .list__listitem {
        width: 342px;
        transition: transform 0.5s;
        .listitem__head {
          display: flex;
          flex-direction: column;
          text-align: center;
          color: white;
          background: #333333;
          .title {
            padding-top: 17px;
            padding-bottom: 17px;
            border-bottom: 1px solid white;
            opacity: 1;
          }
          .money {
            //padding-top: 30px;
            font-family: 'Raleway', 'sans-serif';
            font-size: 28px;
            opacity: 1;
            span {
              font-size: 76px;
            }
          }
          .des {
            padding-bottom: 20px;
            opacity: 0.5;
          }
          .special {
            background: #ff8b38;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
        .listitem__body {
          background: white;
          text-align: center;
          .listitem__list {
            p {
              padding-top: 8px;
              padding-bottom: 8px;
              opacity: 0.7;
              border-bottom: 1px solid #f5f5f5;
            }
          }
        }
      }
      .list__listitem:hover {
        transform: translateY(-5%);
      }
    }
  }
}