@keyframes fadeIn {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}
// Social Media Link
.brand-container {
  width: 100%;
  //box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 3px grey;
}
.brand {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  .text__brand {
    width: 40%;
    display: block;
    .title {
      opacity: 1;
    }
    p {
      padding-top: 10px;
      opacity: 0.7;
    }
  }

  // Icon list
  .icon__container {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-between;
    overflow: hidden;
      div {
        margin: 5px 2px;
        align-self: center;
        text-align: center;
        cursor: default;
        i {
          padding-top: 5px;
          text-align: center;
          font-size: 39px;
          color: #cccccc;
        }
        i:hover {
          color: black;
          cursor: pointer;
        }
      }
  }
}

// Responsive
//@media (max-width : 576px) {
//  #icon__container {
//    display: grid;
//    justify-content: space-evenly;
//    grid-template-columns: auto auto auto;
//    animation: fadeIn 0.2s ease;
//    .icon7 {
//      grid-column: 1 / span 3;
//    }
//  }
//}
@media #{$info-phone-6} {
  #icon__container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    animation: fadeIn 0.2s ease;
    .icon7 {
      grid-column: 1 / span 3;
    }
  }
}