// Animation
@keyframes appear {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeInLeft {
  from { opacity: 0; transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; transform: translate3d(0, 0, 0);}
}
@keyframes fadeInRight {
  0% { opacity: 0; transform: translate3d(100%, 0, 0); }
  //25% { opacity: 0; transform: translate3d(100%, 0, 0); }
  //50% { opacity: 0.5; transform: translate3d(50%, 0, 0); }
  100% { opacity: 1; transform: translate3d(0, 0, 0); }
}
@keyframes moving {
  from {  }
  to { transform: translateX(1%) }
}
// Introduction
.intro-container {
  width: 100%;
  //animation: moving 2s linear infinite reverse;
  background-image: url('../img/img-header-wallpaper.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  //transform: translateX(1%);
}
.intro__header {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 140px;
  .intro {
    font-family: 'Raleway', sans-serif;
    width: 510px;
    color: white;
    .logo-large {
      padding-bottom: 35px;
      background-size: cover;
      animation: appear 2.5s ease-in;
    }
    h1 {
      font-size: 33px;
      animation: fadeInLeft 1s ease;
    }
    .divider {
      padding-top: 29px;
      padding-bottom: 29px;
      animation: fadeInLeft 1s ease-out;
      img {
        height: 2px;
        width: 66px;
      }
    }
    p {
      animation: fadeInLeft 1.5s ease-out;
      opacity: 0.7;
      padding-bottom: 40px;
    }
    .btn-download {
      width: 135px;
      border: 2px solid white;
      text-align: center;
      animation: appear 2s ease-out;
      a {
        display:block;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      a:hover {
        background: #40454b;
      }
      a:active {
        transform: translateY(0.3px);
      }
    }
  }
}

// Register form
.form {
  width: 360px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  animation: fadeInRight 1.5s ease-out;
  .form__header {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
    background: #f5f5f5;
    border-radius: 5px 5px 0 0;
    span {
      color: #ff8b38;
    }
  }
  .form__input {
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 0;
    input {
      flex: 0 0 33%;
      padding-top: 52px;
      border: none;
      border-bottom: 1px solid #d6d6d6;
    }
    input:focus {
      outline: none;
      border-bottom-color: #ff8b38;
    }
    ::placeholder {
      color: #c6c6c6;
      padding-left: 14px;
    }
  }
  .form__btn {
    background: #ffa35e;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    a {
      padding-top: 15.5px;
      padding-bottom: 15.5px;
      display: block;
      color: white;
    }
    a:hover {
      background: #FFAB6A;
      border-radius: 0px 0px 5px 5px;
    }
    a:active {
      transform: translateY(0.3px);
    }
  }
}