@keyframes fadeIn {
  0% { opacity: 0; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}

@keyframes slideDown {
  0% { opacity: 0; transform: translate3d(0, -100%, 0); }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes slideUp {
  0% { opacity: 0; transform: translate3d(0, 100%, 0); }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes slideInLeft {
  from { opacity: 0; transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; transform: translate3d(0, 0, 0);}
}

// Header Navigation Bar
.nav-container {
  width: 100%;
  background: #333333;
  position: sticky;
  top: 0;
  z-index: 2;
}
.nav__head {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  .logo-small {
    padding-top: 21px;
    padding-bottom: 20px;
  }

  .menu__nav__head {
    width: 40%;
    font-family: 'Open Sans', sans-serif;
    a {
      width: 20%;
      float: left;
      display: block;
      padding: 23px 0;
      color: white;
      font-size: 14px;
      text-align: center;
    }

    a:hover {
      background-color: #111111;
    }

    a:active {
      color: #c6c6c6;
    }
  }

  .nav__head__icon {
    display: none;
  }
}

// Responsive
@media (max-width: 1110px) {
  .menu__nav__head {
      display: none;
  }
  .nav__head {
    .nav__head__icon {
      display: block;
      padding: 22px 27px;
      color: white;
    }
    .nav__head__icon:hover {
      background: #111111;
    }
    .nav__head__icon:active {
      color: #c6c6c6;
    }
  }
  .nav__head__icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 1110px) {
  .menu__nav__head.responsive {
    width: 100%;
    display: flex;
    position: absolute;
    top: 68px;
    left: 0;
    animation: slideDown 0.3s ease-out;
    a {
      flex: 0 0 20%;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 12px;
      background: #333333;
      border-top: 0.5px solid #717171;
    }
    a:hover {
      background: #111111;
    }

    a:active {
      color: #c6c6c6;
    }
  }

}

@media (max-width: 320px) {
  .menu__nav__head.responsive {
    display: flex;
    flex-direction: column;
    animation: slideDown 0.3s ease-out;
    a {
      width: 100%;
      font-size: 10px;
      border-top: none;
      border-bottom: 0.5px solid #717171;
    }
    a:hover {
      background: #111111;
    }

    a:active {
      color: #c6c6c6;
    }
  }
}