<div style="text-align: center">
  <h1>{{ title }}</h1>

  <div class="container">
    <a routerLink="/" routerLinkActive="active">Home</a>

    <a routerLink="/history" routerLinkActive="active" (click)="test()">History</a>

    <a routerLink="/history2" routerLinkActive="active">History-V2</a>

    <a routerLink="/history3" routerLinkActive="active">History-V3</a>

  </div>

  <!--  <div>-->
  <!--    <app-history [title2]="title"></app-history>-->
  <!--  </div>-->
  <router-outlet></router-outlet>

  <!--  <p-dialog header="Title" [(visible)]="display">-->
  <!--    FOR TEST DIALOG PURPOSE-->
  <!--  </p-dialog>-->

  <!--  <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show"></button>-->

</div>

