// Header Navigation Bar
.nav-container {
  width: 100%;
  background: #333333;
  position: sticky;
  top: 0;
}
.nav__head {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: auto;

  .logo-small {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu__nav__head {
    display: flex;
    overflow: auto;
    a {
      display: block;
      color: white;
      font-size: 14px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      text-decoration: none;
    }

    a:hover {
      background-color: #111111;
    }

    a:active {
      color: #c6c6c6;
    }
  }
}