/** {*/
/*    box-sizing: border-box;*/
/*}*/
@font-face {
    font-family: 'Andro';
    src: url('../fonts/Androgyne_TB/fonts/Androgyne_TB.eot');
    src: local('☺'), url('../fonts/Androgyne_TB/fonts/Androgyne_TB.woff') format('woff'), url('../fonts/Androgyne_TB/fonts/Androgyne_TB.ttf') format('truetype'), url('../fonts/Androgyne_TB/fonts/Androgyne_TB.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Andro';
    background-color: #49cde3;
}
.header {
    font-family: Tahoma;
    color: white;
    font-size: 30px;
    padding: 80px;
    text-align: center;
    background-image: linear-gradient(to right, #276174, #33C58E, #43B7B8);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    cursor: pointer;
}
.header p a:link, a:visited {
    color: #0300cd;
}
.header p a:hover, a:active {
    color: red;
}
/*--------------------------------------------------------------------------------------------------------------------*/
img {
    /*vertical-align: center;*/
    width: 30px;
    height: 30px;
    filter: invert(100%);
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    background-color: #333333;
}
#navbar li {
    flex: 0 0 25%;
}
#navbar li a {
    display: block;
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
    padding: 16px;
    text-decoration: none;
    /*width: 25%;*/
}
#navbar li a:hover {
    background-color: #111111;
}
/*.frame {*/
/*    !*margin-top: 30px;*!*/
/*    !*height: 100%;*!*/
/*    width: 100%;*/
/*    border: none;*/
/*}*/
/*--------------------------------------------------------------------------------------------------------------------*/
.input {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 5px;
}
.form {
    /*float: right;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 10px;*/
    /*border: 1px solid red;*/
}
.form--theme-xmas { }
.form--simple { }
.form__input {
    box-shadow:1px 1px 1px darkgrey;
    width: 200px;
}
::placeholder { color: grey; opacity: 0.6 }
.form__submit { border-radius: 2px; }
.form__submit--disabled { }
/*--------------------------------------------------------------------------------------------------------------------*/
#page_name {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #ff0007;
    margin: 15px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.list {
    margin-top: 3px;
    margin-bottom: 3px;
}
#content {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
    /*background-color: #333333;*/
}

#content li {
    /*float: left;*/
    box-sizing: border-box;
    margin-bottom: 3px;
    width: 100%;
}
#content li a {
    display: block;
    color: white;
    /*font-size: 24px;*/
    /*text-align: center;*/
    padding: 1px;
    /*padding-left: 16px;*/
    /*padding-right: 16px;*/
    text-decoration: none;
    transition:  font-size 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#content li a:hover {
    font-size: 16.5px;
    background-color: red;
    text-decoration: underline;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.london {
    /*text-align: center;*/
    background-image: url('../images/london2.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
    /*margin: 20px;*/
    padding: 20px;
    height: 150px;
}
.paris {
    background-image: url('../images/paris2.jpg');
    background-attachment: fixed;
    background-size: cover;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    color: white;
    /*margin: 20px;*/
    padding: 20px;
    height: 150px;
}
.tokyo {
    background-image: url('../images/tokyo.jpg');
    background-attachment: fixed;
    background-size: cover;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    color: white;
    /*margin: 20px;*/
    padding: 20px;
    height: 150px;
}
.halongbay {
    background-image: url('../images/halong.jpg');
    background-attachment: fixed;
    background-size: cover;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    color: white;
    /*margin: 20px;*/
    padding: 20px;
    height: 150px;
}
.singapore {
    background-image: url('../images/singapore.jpg');
    background-attachment: fixed;
    background-size: cover;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    color: white;
    /*margin: 20px;*/
    padding: 20px;
    height: 150px;
}
.sydney {
    background-image: url('../images/sydney.jpg');
    background-attachment: fixed;
    background-size: cover;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    color: white;
    /*margin: 20px;*/
    padding: 20px;
    height: 150px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.buttons {
    display: flex;
    justify-content: flex-end;
    font-family: Ubuntu;
    /*padding: 20px;*/
    /*border: 1px solid green;*/
    /*text-align: center;*/
    /*overflow: auto;*/
}
#gg:link, #gg:visited {

}
#gg:hover {
    /*color: blue;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*text-decoration: underline;*/
}
#gg:active {
    background-color: #d90007;
    transform: translateY(3px);
}
#fb:link, #fb:visited {

}
#fb:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#fb:active {
    background-color: #0000a6;
    transform: translateY(3px);
}
.fa-google {
    font-size: 40px;
    padding: 10px;
    background: #ff0007;
    color: white;
    margin-right: 5px;
    border-radius: 10px;
}
.fa-facebook-f {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 15px;
    background: #3B5998;
    color: white;
    border-radius: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.up_icon {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 90px;
    right: 60px;
    background-color: #00cc99;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}
.up_icon:link, .up_icon:visited {

}
.up_icon:hover, .up_icon:active {
    background-color: #00b58d;
    color: white;
}
.my__icon {
    margin-top: 15px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*.fab {*/
/*    padding: 20px;*/
/*    font-size: 70px;*/
/*    width: 50px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    margin: 5px 2px;*/
/*}*/

/*@media screen and (max-width: 700px) {*/
/*    .row {*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

/*!* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other *!*/
/*@media screen and (max-width: 400px) {*/
/*    .navbar a {*/
/*        float: none;*/
/*        width: 100%;*/
/*    }*/
/*}*/