.footer-container {
  width: 100%;
  background: black;
}
.footer {
  font-family: 'Open San', 'sans-serif';
  padding-top: 23px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
  .footer__icon {
    width: 345px;
    padding-bottom: 15px;
    margin: auto;
    a {
      cursor: default;
      i {
        margin-left: 20px;
        font-size: 28px;
        color: #cccccc;
      }
      i:hover {
        color: white;
        cursor: pointer;
      }
    }
  }
  .footer__text {
    p {
      font-size: 12px;
      opacity: 0.7;
    }
  }
}